<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@efes.sys.yapikredi.com.tr:1521:KBLIVE</property>
		<property name="hibernate.connection.username">CBSLIVE</property>
		<property name="hibernate.connection.password">anewhope</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="hibernate.default_schema">CBSLIVE</property>
		<property name="show_sql">true</property>
		<mapping resource="DepHmnServices.hbm.xml"></mapping>
	</session-factory>
</hibernate-configuration>